@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* /////////////////////////////// ESPACIOCABECERA /////////////////////////////////////////// */

.espaciocabecera{
    
    /*background: linear-gradient(to right, #c2e59c, #64b3f4);*/
    /*background: linear-gradient(to right, #20002c, #cbb4d4);*/
   /*background: linear-gradient(to right, #44a08d, #093637);*/
    /*background: linear-gradient(to right, #642B73, #C6426E);*/
    background: linear-gradient(to right, #d2bbf5, #181829);
    /*background: black;*/
}

#Feliz{
    height: 700px;
    margin-top: -50px;
   /*margin-bottom: 100px;*/
}

#FOTO-ELLA{
    height: 850px;
    margin-top: -200px;
    /*margin-bottom: 100px;*/
    margin-left: -30px;
}

#INTRO-IMG{
    height: 300px;
    margin-bottom: 30px;
}

#serch{
    width: 400px;
    margin-top: 150px;
}

/*///////////////////////////////////  reto 1 ////////////////////////*/
#sospechoso{
    height: 200px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 120px;
}

.historia{
    margin-top: 30px;
}

.columna{
    background-color: #f2f2f2;
    height: 320px;
    width: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
    
}

.columna-2{
    background-color: #ffffff;
    height: 320px;
    width: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
    
}

#texto-h1{
    color: #7575bf;
    font-family: Roboto;
}

#texto{
    font-family: Roboto;
}

.footer{
    background: linear-gradient(to right, #d2bbf5, #181829);
}

#footer-img1{
    width: 250px;
}

#footer-img2{
    width: 250px;
}





/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ RENDIM MOVILES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

@media screen and (max-width: 560px) {

    .espaciocabecera{
    
        width: 500px;
        /*background: linear-gradient(to right, #c2e59c, #64b3f4);*/
        /*background: linear-gradient(to right, #20002c, #cbb4d4);*/
       /*background: linear-gradient(to right, #44a08d, #093637);*/
        /*background: linear-gradient(to right, #642B73, #C6426E);*/
        background: linear-gradient(to right, #d2bbf5, #181829);
        /*background: black;*/
    }
    
    #Feliz{
        height: 900px;
        margin-top: -50px;
       /*margin-bottom: 100px;*/
    }

    #FOTO-ELLA{
        height: 850px;
        margin-top: -400px;
        
    }

    #texto-h1{
        color: #7575bf;
        font-family: Roboto;
        width: 350px;
    }

    #INTRO-IMG{
        height: 800px;
    }





    /*////////  SERVICIOS LIMP JARD PINT  ////////////////*/ 

    
}

@media screen and (max-width: 980px) {
    
    .espaciocabecera{
    
        align-items: center;
        
        /*background: linear-gradient(to right, #c2e59c, #64b3f4);*/
        /*background: linear-gradient(to right, #20002c, #cbb4d4);*/
       /*background: linear-gradient(to right, #44a08d, #093637);*/
        /*background: linear-gradient(to right, #642B73, #C6426E);*/
        background: linear-gradient(to right, #d2bbf5, #181829);
        /*background: black;*/
    }
    
    #Feliz{
        height: 750px;
        margin-top: -50px;
        margin-left: -40px;
       /*margin-bottom: 100px;*/
    }

    #FOTO-ELLA{
        height: 850px;
        margin-top: -325px;
        margin-left: -50px;
    }

    #texto-h1{
        color: #7575bf;
        font-family: Roboto;
        font-size: 2cm;
    }

    #texto{
        font-size: 1.65cm;
    }

    #INTRO-IMG{
        height: 550px;
        margin-top: 75px;
        margin-bottom: 120px;
    }

    #serch{
        height: 1000px;
        margin-top: -200px;
        margin-bottom: -50px;
    }

    .btn{
        font-size: 55px;
        width: 400px;
        border-radius: 50px;
        font-weight: 500;
    }

    #footer-img1{
        width: 550px;
    }



}